**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/docker-compose*
**/compose*
*.Dockerfile
Dockerfile*
node_modules
npm-debug.log
.angular
GHCAA.Web/dist
GHCAA.Web/node_modules
GHCAA.Web/.angular
